<?xml version='1.0' encoding='UTF-8'?>
<maven2 plugin="maven-plugin@2.7.1">
  <actions/>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <reporters/>
  <displayName>resanet-parent</displayName>
  <version>3.5-SNAPSHOT</version>
  <packaging>pom</packaging>
  <relativePath></relativePath>
  <dependencies>
    <dependency>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-release-plugin</artifactId>
      <version>2.5.1</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-compiler-plugin</artifactId>
      <version>2.5.1</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-assembly-plugin</artifactId>
      <version>2.3</version>
      <plugin>true</plugin>
    </dependency>
  </dependencies>
  <children>
    <hudson.maven.ModuleName>
      <groupId>com.zenika.formation</groupId>
      <artifactId>resanet-model</artifactId>
    </hudson.maven.ModuleName>
    <hudson.maven.ModuleName>
      <groupId>com.zenika.formation</groupId>
      <artifactId>resanet-web</artifactId>
    </hudson.maven.ModuleName>
    <hudson.maven.ModuleName>
      <groupId>com.zenika.formation</groupId>
      <artifactId>resanet-ear</artifactId>
    </hudson.maven.ModuleName>
  </children>
</maven2>